/* azul: 003056; */

@font-face {
  font-family: 'mainFont';
  src: url('/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'BoldFont';
  src: url('/fonts/OpenSans-Bold.ttf');
}

section {
    float: left;
    width: 100%;
    padding: 70px;
    padding-top: 120px;
}

body {
    font-family: 'mainFont';
    font-size: 16px;
}

section.gray-back {
    background: #E8E8E8;
}

p {
    line-height: 120%;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.clear-1 {
    float: left;
    width: 100%;
    height: 1px;
}

.clear-10 {
    float: left;
    width: 100%;
    height: 10px;
}

.clear-25 {
    float: left;
    width: 100%;
    height: 25px;
}

.no-padd {
    padding: 0 !important;
}

.main-cont {
    margin: 0 auto;
}

.main-nav {
    padding: 15px;
}

.main-nav ul a {
    display: block;
    color: #003056;
    text-decoration: none;
    padding: 0 18px;
    line-height: 5em;
    vertical-align: middle;
}

.main-nav ul a:hover {
    color: #3FD2AB;
}

.main-nav ul li:hover {
    background: #FFF;
}

.main-nav ul li {
    display: block;
    position: relative;
    float: right;
    color: #003056;
}

.main-nav li ul {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #515151;
    padding: 0;
    margin: 0;
}

.main-nav li ul li {
    width: 100%;
    border-bottom: 1px solid #DDD;
    line-height: 2em;
}

.main-nav li ul a {
    color: #FFF;
    text-align: left;
    line-height: 2.5em;
}

.main-nav li ul a:hover {
    color: #3FD2AB;
}

.cont-submenu:hover .submenu {
    display: block;
}

#main-banner.home {
    background: url('/assets/banner-home.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#main-banner.who {
    background: url('/assets/banner-who.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#main-banner.news {
    background: url('/assets/banner-news.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#foot-banner p {
    color: #FFF;
    background: #003056;
    padding: 35px 25px;
    float: left;
    width: 100%;
    text-align: center;
}

.section-title {
    text-align: center;
    width: 100%;
}

.icon-card,
.who-card,
.glossary-card,
.new-card {
    position: relative;
    float: left;
    text-align: center;
    padding: 45px 15px;
}

.glossary-card {
    background: url('/assets/concept-bg.png');
    background-repeat: no-repeat;
    background-size: 70%;
    padding: 75px 150px;
    color: #FFF;
    background-position: center;
    margin-bottom: 45px;
}

.quest-card {
    margin-top: 25px;
}

.quest-card .alert-warning {
    padding: 15px;
    border-radius: 5px;
    background: #D0D555;
    color: #003056;
}

.new-card p {
    background: #003056;
    color: #FFF;
    text-align: justify;
    width: 100%;
    padding: 35px;
    padding-top: 5px;
    margin: 0;
}

.new-card .more-btn {
    position: absolute;
    top: 90%;
    right: -5px;
    font-size: 12px;
    border-radius: 0;
    background: #3FD2AB;
}

.icon-card img {
    margin-bottom: 15px;
}

.icon-card:hover {
    background: #D8D8D8;
}

footer {
    float: left;
    width: 100%;
    background: #003056;
    padding: 25px;
    text-align: center;
    color: #FFF;
    margin-top: 50px;
}

.form-group {
    float: left;
}

.subtype {
    display: none;
    padding: 25px;
    padding-top: 15px;
    border-radius: 5px;
}

span.info {
    font-size: 12px;
}

.cont-event {
    padding: 25px;
}

.bull-head {
    background: #E8E8E8;
    padding: 35px;
    border: 1px solid #DDD;
    border-radius: 5px;
}

.body img {
    display: none;
}


















