body {
    background: #F5F5F5;
    color: #000;
    font-size: 14px;
}

label {
    margin-top: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

h1, h2, h3 {
    letter-spacing: -2px;
    line-height: 100%;
}

h1 {
    letter-spacing: -3px;
}

h2 {
    border-bottom: 3px solid;
    padding-bottom: 5px;
}

h3 {
    font-size: 20px;
    margin-top: 10px;
    letter-spacing: -1px;
}

th {
    text-align: center;
    font-size: 12px;
}

.no-padd {
    padding: 0 !important;
}

.main-cont {
    margin: 0 auto;
}

.table {
    background: #FFF;
    /*border: 1px solid #DDD;*/
}

.table td {
    /*text-align: center;*/
}

.q-h3 {
    margin-top: 25px;
    padding: 10px;
    padding-left: 15px;
    font-size: 16px;
    border-radius: 5px;
}

.q-h3 i {
    margin-right: 5px;
}

.q-answering {
    padding: 15px;
    border-radius: 5px;
}

.q-data {
    border-bottom: 1px solid #DDD;
    padding: 15px 25px;
    border-radius: 5px;
}

.left-text {
    text-align: left !important;
}

.section-title {
    border-bottom: 2px solid;
    padding-bottom: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #DDD;
    border-radius: 5px;
}

a:hover {
    color: #CCC;
}

nav {
    padding: 0 15px;
    margin-bottom: 25px;
}

.download {
    font-size: 16px;
}

input, label {
    float: left;
    display: block;
}

.form-group {
    float: left;
    width: 100%;
}

.form-control {
    background: #F5F5F5;
}


.clear-1 {
    float: left;
    width: 100%;
    height: 1px;
}

.clear-25 {
    float: left;
    width: 100%;
    height: 25px;
}

.clear-1-solid {
    float: left;
    width: 100%;
    height: 1px;
    background: #777;
}


.btn {
    background: #000;
    color: #f5f5f5;
    border: 0;
}

.btn-sm {
    font-size: 12px;
}

.btn.submit {
    margin-top: 10px;
}

.resp-btn {
    background-color: #DDD;
    color: #000;
}

.edit-q {
    margin-top: 5px;
}

.subtype-sel {
    display: none;
}

.admin-login {
    margin: 100px auto;
}

.admin-login h2 {
    border-bottom: 3px solid;
    padding-bottom: 5px;
    font-size: 25px;
}

.admin-login form {
    margin-top: 20px;
}

.top-backend {
    padding: 12px 15px;
    background: #000;
    color: #f5f5f5;
    margin-bottom: 10px;
}

.close-sess {
    font-size: 12px;
    color: #f5f5f5;
    padding: 0;
}

.badge {
    vertical-align: middle;
    font-size: 12px;
}

.badge-secondary {
    color: #777;
    background-color: #CCC;
}

.badge-small {
    padding: 4px 6px;
    font-size: 10px;
}

.back-section {
    float: left;
    padding: 25px;
    background: #FFF;
    border: 1px solid #DDD;
    margin-bottom: 25px;
}

.back-card {
    padding: 10px 35px;
    max-height: 350px;
    overflow-y: scroll;
}

.back-card .badge {
    font-size: 10px;
    padding: 5px 10px;
    background-color: #DDD;
    color: #000;
}

.glossary {
    margin-top: 25px;
}

.glossary div {
    margin-top: 25px;
    border-bottom: 1px solid;
    padding-bottom: 15px;
}

.glossary dt {
    font-style: italic;
    font-size: 1.2em;
}

.glossary dd {
    padding-left: 25px;
}

.cont-new {
    margin: 5px 0;
    background: #FFF;
    float: left;
    border: 1px solid #DDD;
    padding: 15px 10px;
}

.cont-bull img {
    width: 25%;
}













